<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    
    <!-- Set the Character set for the page -->
    <meta charset="utf-8">
    
    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Statistics Page</title>
</head>

<body>

<div class="container">

	<h2>Statistics of <span th:text="${studRegTitle}" ></span></h2>
	<hr>
	
	<h4>Project Grade Stats</h4>
	<table class="table table-bordered table-striped">
		<thead class="thead-light">
			<tr>
				<th>Min</th>
				<th>Max</th>
				<th>Mean</th>
				<th>Standard Deviation</th>
				<th>Variance</th>
				<th>Skewness</th>
				<th>Median (50th-Percentile)</th>
			</tr>
		</thead>
		
		<tbody>
			<td th:text="${ProjectMin}" />
			<td th:text="${ProjectMax}" />
			<td th:text="${ProjectMean}" />
			<td th:text="${ProjectStandardDeviation}" />	
			<td th:text="${ProjectVariance}" />		
			<td th:text="${ProjectSkewness}" />
			<td th:text="${ProjectPercentile}" />
		</tbody>		
	</table>
	
	<hr>
	
	<h4>Exam Grade Stats</h4>
	<table class="table table-bordered table-striped ">
		<thead class="thead-light">
			<tr>
				<th>Min</th>
				<th>Max</th>
				<th>Mean</th>
				<th>Standard Deviation</th>
				<th>Variance</th>
				<th>Skewness</th>
				<th>Median (50th-Percentile)</th>
			</tr>
		</thead>
		
		<tbody>
			<td th:text="${ExamMin}" />
			<td th:text="${ExamMax}" />
			<td th:text="${ExamMean}" />
			<td th:text="${ExamStandardDeviation}" />	
			<td th:text="${ExamVariance}" />		
			<td th:text="${ExamSkewness}" />
			<td th:text="${ExamPercentile}" />
		</tbody>		
	</table>
	
	<hr>
	
	<h4>Final Grade Stats</h4>
	<table class="table table-bordered table-striped table-dark">
		<thead class="thead-dark">
			<tr>
				<th>Min</th>
				<th>Max</th>
				<th>Mean</th>
				<th>Standard Deviation</th>
				<th>Variance</th>
				<th>Skewness</th>
				<th>Median (50th-Percentile)</th>
			</tr>
		</thead>
		
		<tbody>
			<td th:text="${FinalMin}" />
			<td th:text="${FinalMax}" />
			<td th:text="${FinalMean}" />
			<td th:text="${FinalStandardDeviation}" />	
			<td th:text="${FinalVariance}" />		
			<td th:text="${FinalSkewness}" />
			<td th:text="${FinalPercentile}" />
		</tbody>		
	</table>
	
	<hr>
	<a th:href="@{/courses/list}">Back to Course Directory </a>
	
	
	
</div>
	
</body>
</html>



