<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Statistics Page</title>
     <style>
        .label-large {
            font-size: 22px; 
        }
    </style>
</head>

<body>

<div class="container mt-4">
    <h2>Statistics of <span th:text="${studRegTitle}"></span></h2>
    <hr />

    <h4>Project Grade Stats</h4>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Mean</th>
                        <th>Standard Deviation</th>
                        <th>Variance</th>
                        <th>Skewness</th>
                        <th>Median (50th-Percentile)</th>
                    </tr>
                </thead>

                <tbody>
                    <td th:text="${ProjectMin}" />
                    <td th:text="${ProjectMax}" />
                    <td th:text="${ProjectMean}" />
                    <td th:text="${ProjectStandardDeviation}" />
                    <td th:text="${ProjectVariance}" />
                    <td th:text="${ProjectSkewness}" />
                    <td th:text="${ProjectPercentile}" />
                </tbody>
            </table>

            <hr />

            <h4>Exam Grade Stats</h4>
            <table class="table table-bordered table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Mean</th>
                        <th>Standard Deviation</th>
                        <th>Variance</th>
                        <th>Skewness</th>
                        <th>Median (50th-Percentile)</th>
                    </tr>
                </thead>

                <tbody>
                    <td th:text="${ExamMin}" />
                    <td th:text="${ExamMax}" />
                    <td th:text="${ExamMean}" />
                    <td th:text="${ExamStandardDeviation}" />
                    <td th:text="${ExamVariance}" />
                    <td th:text="${ExamSkewness}" />
                    <td th:text="${ExamPercentile}" />
                </tbody>
            </table>

            <hr />

            <h4>Final Grade Stats</h4>
            <table class="table table-bordered table-striped table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Mean</th>
                        <th>Standard Deviation</th>
                        <th>Variance</th>
                        <th>Skewness</th>
                        <th>Median (50th-Percentile)</th>
                    </tr>
                </thead>

                <tbody>
                    <td th:text="${FinalMin}" />
                    <td th:text="${FinalMax}" />
                    <td th:text="${FinalMean}" />
                    <td th:text="${FinalStandardDeviation}" />
                    <td th:text="${FinalVariance}" />
                    <td th:text="${FinalSkewness}" />
                    <td th:text="${FinalPercentile}" />
                </tbody>
            </table>
	<hr />
    <div class="row mb-4">
        <div class="col-md-10">
            <form th:action="@{/courses/distribution}" method="post" class="form-inline">
            	<input type="hidden" name="courseId" th:value="${courseId}" />
                <label class="mr-2 label-large ">View grade distribution for:</label>
                <input class="form-check-input" type="checkbox" th:name="selectedCategories" th:value="Project" />
                <label class="form-check-label mr-2">Project</label>
                <input class="form-check-input" type="checkbox" th:name="selectedCategories" th:value="Exam" />
                <label class="form-check-label mr-2">Exam</label>
                <input class="form-check-input" type="checkbox" th:name="selectedCategories" th:value="Final" />
                <label class="form-check-label mr-2">Final</label>
                <button class="btn btn-primary mt-3" type="submit" disabled>Submit</button>
            </form>
            <div th:if="${errorMessage}" class="alert alert-danger mt-3">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>

    <hr />
    <a th:href="@{/courses/list}" class="btn btn-secondary">Back to Course Directory</a>

</div>

<script>
    function updateSubmitButton() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const submitButton = document.querySelector('button[type="submit"]');
        let anyCheckboxChecked = Array.from(checkboxes).some((checkbox) => checkbox.checked);

        submitButton.disabled = !anyCheckboxChecked;
    }

    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", updateSubmitButton);
    });

    // Initial call to update the submit button state
    updateSubmitButton();
</script>

</body>

</html>


