<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Student Registration</title>
</head>
<body>
    <div class="container my-5">
        <h3 class="mt-3">Student Registration Form</h3>
        <hr>
        
        <form action="#" th:action="@{/studentRegistrations/save}" th:object="${studentReg}" method="POST">
            <input type="hidden" th:field="*{dbKeyStudReg}" />
            <input type="hidden" th:field="*{courseId}" th:value="${courseId}">
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">StudentId:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{studentId}" class="form-control" placeholder="Student Id">
                    <p th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">First Name:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Last Name:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Year of Registration:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{yearOfRegistration}" class="form-control" placeholder="Year Of Registration">
                    <p th:if="${#fields.hasErrors('yearOfRegistration')}" th:errors="*{yearOfRegistration}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Year of Studies:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{yearOfStudies}" class="form-control" placeholder="Year of Studies">
                    <p th:if="${#fields.hasErrors('yearOfStudies')}" th:errors="*{yearOfStudies}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Current Semester:</label>
                <div class="col-sm-4">
                    <select id="semester" th:field="*{semester}" class="form-control">
                        <option value="" selected hidden>Current Semester</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Project Grade:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{projectGrade}" class="form-control" placeholder="Project Grade">
                    <p th:if="${#fields.hasErrors('projectGrade')}" th:errors="*{projectGrade}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Exam Grade:</label>
                <div class="col-sm-4">
                    <input type="text" th:field="*{examGrade}" class="form-control" placeholder="Exam Grade">  
                    <p th:if="${#fields.hasErrors('examGrade')}" th:errors="*{examGrade}" class="alert alert-danger"> </p>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-2 offset-sm-2">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </div>
        </form>
        
        <hr>
        <a th:href="@{/courses/showStudentRegListOfCourse(courseId=${courseId})}" class="btn btn-secondary">Back to Course <span th:text="${courseId}"></span></a>
    </div>
</body>
</html>
